Repository jnicrimi/laravel-playground: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, yamllint, phpstan, pint, hadolint, redocly-bundle, redocly-lint

lefthook.yml:

---

commit-msg:
  commands:
    commitlint:
      run: commitlint --edit {1}

pre-commit:
  commands:
    scan-git-secrets:
      run: git secrets --scan
    markdownlint:
      glob: "*.md"
      exclude: "^backend/README.md$"
      run: markdownlint {staged_files}
    yamllint:
      glob: "*.{yml,yaml}"
      run: yamllint --strict {staged_files}
    phpstan:
      root: backend
      glob: "*.php"
      run: docker compose exec backend bash -c 'vendor/bin/phpstan clear-result-cache && vendor/bin/phpstan analyse --memory-limit 1G {staged_files}'
    pint:
      root: backend
      glob: "*.php"
      run: docker compose exec backend bash -c 'vendor/bin/pint --test {staged_files}'
    hadolint:
      glob: "**/Dockerfile"
      run: hadolint {staged_files}
    redocly-bundle:
      priority: 1
      glob: "backend/storage/redoc/**/*.yaml"
      run: npm run redocly-bundle
    redocly-lint:
      priority: 2
      glob: "backend/storage/redoc/**/*.yaml"
      run: npm run redocly-lint

pre-push:
  commands:
    phpunit:
      root: backend
      run: docker compose exec backend bash -c 'php artisan config:clear && php artisan test'

chore: simplify editorconfig
  .editorconfig
Due: none

chore: update commitlint config
  commitlint.config.js
Due: none

fix: change testing db charset to utf8mb4
  docker/db/docker-entrypoint-initdb.d/01_create_testing_database.sql
Due: none

chore: format dockerfile
  docker/backend/Dockerfile
Due: hadolint

chore: remove run-name from workflows
  .github/workflows/lint-php.yml
  .github/workflows/lint-redoc.yml
  .github/workflows/preset-pr.yml
  .github/workflows/test-php.yml
Due: yamllint

ci: add concurrency to lint-docker workflow
  .github/workflows/lint-docker.yml
Due: yamllint

refactor: simplify commitlint config
  commitlint.config.js
Due: none

chore: add GitHub Copilot instructions
  .github/copilot-instructions.md
Due: markdownlint

refactor: migrate tests from PHPUnit to Pest 4
  .github/workflows/test-php.yml
  backend/composer.json
  backend/composer.lock
  backend/phpstan.neon
  backend/tests/Feature/App/Http/Controllers/V1/ComicsControllerTest.php
  backend/tests/Helpers.php
  backend/tests/Pest.php
  backend/tests/Unit/Packages/Application/Comic/ComicDestroyInteractorTest.php
  backend/tests/Unit/Packages/Application/Comic/ComicIndexInteractorTest.php
  backend/tests/Unit/Packages/Application/Comic/ComicShowInteractorTest.php
  backend/tests/Unit/Packages/Application/Comic/ComicStoreInteractorTest.php
  backend/tests/Unit/Packages/Application/Comic/ComicUpdateInteractorTest.php
  backend/tests/Unit/Packages/Domain/Comic/ComicIdTest.php
  backend/tests/Unit/Packages/Domain/Comic/ComicKeyTest.php
  backend/tests/Unit/Packages/Domain/Comic/ComicNameTest.php
  backend/tests/Unit/Packages/Domain/Comic/ComicStatusTest.php
  backend/tests/Unit/Packages/Domain/Comic/ComicTest.php
  backend/tests/Unit/Packages/Domain/Comic/ComicsTest.php
  backend/tests/Unit/Packages/Domain/EntitiesTest.php
  backend/tests/Unit/Packages/Domain/PaginationTest.php
  backend/tests/Unit/Packages/Domain/ValueObjectTest.php
  backend/tests/Unit/Packages/Infrastructure/Notifier/ComicNotifierTest.php
  backend/tests/Unit/Packages/Infrastructure/QueryBuilder/Comic/Index/ComicSearchQueryBuilderTest.php
  backend/tests/Unit/Packages/Infrastructure/Repository/Comic/ComicRepositoryTest.php
  backend/tests/Unit/Packages/Infrastructure/Service/Notification/LogNotificationServiceTest.php
  backend/tests/Unit/Packages/Infrastructure/Service/Notification/SlackNotificationServiceTest.php
  justfile
Due: yamllint, phpstan, pint

fix: remove self-referencing id assertion in ComicStoreInteractorTest
  backend/tests/Unit/Packages/Application/Comic/ComicStoreInteractorTest.php
Due: phpstan, pint

feat: add phpat architecture dependency tests
  backend/composer.json
  backend/composer.lock
  backend/phpstan-baseline.neon
  backend/phpstan.neon
  backend/tests/Architecture/LayerDependencyTest.php
Due: phpstan, pint

refactor: invert application-to-infrastructure dependencies for comic notifier and query builder
  backend/app/Providers/AppServiceProvider.php
  backend/packages/Application/Comic/ComicDestroyInteractor.php
  backend/packages/Application/Comic/ComicIndexInteractor.php
  backend/packages/Application/Comic/ComicStoreInteractor.php
  backend/packages/Application/Comic/ComicUpdateInteractor.php
  backend/packages/Infrastructure/Notifier/ComicNotifier.php
  backend/packages/Infrastructure/QueryBuilder/Comic/Index/ComicSearchQueryBuilder.php
  backend/packages/UseCase/Comic/ComicNotifierInterface.php
  backend/packages/UseCase/Comic/Index/ComicSearchQueryBuilderInterface.php
  backend/phpstan-baseline.neon
Due: phpstan, pint

fix: initialize nullable properties in ComicSearchQueryBuilder
  backend/packages/Infrastructure/QueryBuilder/Comic/Index/ComicSearchQueryBuilder.php
Due: phpstan, pint

fix: resolve pint lint failures in CI
  backend/app/Rules/Comic/ComicKeyFormatRule.php
  backend/bootstrap/providers.php
  backend/config/auth.php
  backend/config/sanctum.php
  backend/database/factories/ComicFactory.php
  backend/database/factories/UserFactory.php
Due: phpstan, pint

chore: replace git-secrets with gitleaks in lefthook
  lefthook.yml
Due: yamllint

chore: update gitleaks commands to non-deprecated alternatives
  lefthook.yml
Due: yamllint

chore: remove redundant repo path from gitleaks command
  lefthook.yml
Due: yamllint
